<!DOCTYPE html>
<html lang="de">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Insert</title>
</head>
<body>
    <div style="width:80%;background-color:bisque;border-radius:.5em;margin:auto;padding:.5em">
        <h1>Insert Input</h1>
        <ul>
            




        </ul>
    </div>
</body>
</html>
